@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply hidden lg:inline-flex px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg active:scale-95 active:bg-gray-100 transition transform duration-100 ease-out;
  }
}

.mapboxgl-control-container {
    display: none !important;
}

.rdrDateDisplayWrapper {
  display: none;
}

.mapboxgl-canvas-container {
  overflow: hidden;
}

.rdrDateRangeWrapper,
.rdrMonth {
  width: 100% !important;
}